* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(167, 168, 185);
    color: rgb(16, 19, 53);
    padding: 20px;
}
body {
    border-top: 100px solid #162566; /* Borde superior azul */
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: rgb(6, 6, 88);
}

.logo {
    display: block;
    margin: 20px auto;
    max-width: 200px;
}

.content {
    border-left: 80px solid rgb(27, 28, 124);
    border-right: 80px solid rgb(37, 31, 124);
    padding: 20px;
    margin-bottom: 40px;
    border-bottom: 80px solid rgb(20, 37, 87);
}

h2, h3 {
    color: rgb(16, 16, 48);
}

h2 {
    margin-top: 20px; 
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

aside.informacion-secundaria {
    background-color: #f0f0f0;
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    margin-top: 40px;
}
